html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  background: #ffe066;
  color: #50514f;
  font-family: 'Helvetica Neue', sans-serif;
}

.layout {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.bottomPane {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.score {
  font-size: 50px;
  font-weight: lighter;
  letter-spacing: -1px;
  line-height: 1;
  margin: 1em;
}


.score label {
  font-weight: bold;
}

#canvas-container {
  flex: 1;
  height: 100%;
  width: 100%;
}

h2 {
  font-size: 40px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
  text-align: center;
}

#instructions {
  width: 100%;
  /* position: absolute; */
  top: 6rem;
  text-align: center;
}
